:host {
    height: 10vh;
    font-size: var(--default-fontsize);
    background-color: var(--neutral);
    border-bottom: var(--line-light);
    display: flex;
    align-items: center;

    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.3);
}

.logo {
    width: 15rem;
    margin-left: 1.5rem;

    &__photo {
        width: 100%;
    }
}

////////////////////////////////
/// NAV
.nav {
    display: flex;
    align-self: stretch;
    align-items: center;
    width: 100%;
    
    &__item {
        padding: 0 2rem;
        cursor: pointer;
        align-self: stretch;
        display: flex;
        align-items: center;
        transition: all .2s;

        &:not(:last-child):hover{
            background-color: var(--color-grey-light-3);
        }
    }

    
    &__link {
        text-decoration: none;
        color: var(--color-grey-dark-2);
    }
}
