
.inline-form {
    display: flex;
    align-items: center;
    font-size: 1.6rem;

    &__text-group {
        position: relative;
        width: 30vw;
    }
    
    &__label {
        position: absolute;
        left: 1px;
        top: 1px;
        visibility: hidden;
    }

    & > *:not(:last-child) {
        margin-right: .8rem;
    }

    &__input, &__select {
        background-color: var(--neutral);
        font-family: inherit;
        color: inherit;
        font-size: inherit;
        width: 100%;
        padding: 1.5rem 3rem;
        border: none;
        border-bottom: 2px solid transparent;
        transition: all .2s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(var(--neutral-inverse), .1);
            border-bottom: 2px solid var(--color-secondary-light);
        }
    }

    &__select-group {
        width: 30vw;
    }

    &__submit {
        padding: 1.5rem 3rem;
    }

}
