.popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, rgba($color-bg-primary, 0.9), rgba($color-bg-secondary, 0.9));
    z-index: 9999;

    &:target {
        opacity: 1;
        visibility: visible;
        transition: all .3s;
    }

    
}