:root {    
    /* RGB */
   --color-primary-dark-1: rgba(229, 43, 29, 1);
   --color-primary-dark: rgba(242, 45, 31, 1);
   --color-primary: rgba(255, 47, 32, 1);
   --color-primary-light: rgba(255, 71, 58, 1);
   --color-primary-light-1: rgba(255, 95, 84, 1);

   --color-secondary-light-2: rgba(120, 192, 224, 1);
   --color-secondary-light-1: rgba(68, 157, 209, 1);
   --color-secondary-light: rgba(12, 90, 241, 1);
   --color-secondary: rgb(34, 9, 196);
   --color-secondary-dark: rgba(21, 5, 120, 1);
   --color-secondary-dark-1: rgba(14, 14, 82, 1);
   
   --color-grey-light-3: #fbfafa;
   --color-grey-light-2: #f4f2f2;
   --color-grey-light-1: #f0eeee;
   --color-grey-light: #ccc;

   --color-grey-dark-2: #333;
   --color-grey-dark-1: #777;
   --color-grey-dark: #999;

   --neutral: #fff;
   --neutral-inverse: #000;

   --default-fontsize: 1.4rem;
   --line-light: 1px solid var(--color-grey-light);
}
$neutral: white;
$neutral-inverse: black;

* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%; // so that 1rem is equal to 10px
}

body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   line-height: 1.6;
   color: var(--color-grey-dark-2);
}