
* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

:root {
   // extract color from material color map
   @include getColorsFromMap($var-primary, "primary");
   @include getColorsFromMap($var-accent, "accent");
   @include getColorsFromMap($var-warn, "warn");

   --color-grey-light-1: #faf9f9;
   --color-grey-light-2: #f4f2f2;
   --color-grey-light-3: #f0eeee;
   --color-grey-light-4: #ccc;

   --color-grey-dark-1: #333;
   --color-grey-dark-2: #777;
   --color-grey-dark-3: #999;

   --shadow-dark-nav: 0 3px 5px -1px rgba(0,0,0,.2), 
                      0 6px 10px 0 rgba(0,0,0,.14), 
                      0 1px 18px 0 rgba(0,0,0,.12);

   --navbar-height: 5rem;
   --border-radius-xs: 2px;
   --h1-fontsize: 3rem;
}

html {
   box-sizing: border-box;
   font-size: 62.5%; // so that 1rem is equal to 10px

   body {
      font-family: "Roboto", "Lato", sans-serif;
   }
   
   &, body {
      height: 100%;
      margin: 0;
   }
}
