.heading-primary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    
    &__sub {
        font-size: 1rem;
        color: var(--color-grey-dark);
        text-transform: uppercase;
        letter-spacing: 1rem;
    }
}

.heading-secondary {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.heading-tertiary {

}

.type-1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--color-grey-dark);
}