.d-none { display: none  !important;}
.d-block { display: block  !important;}
.d-inline { display: inline  !important;}
.d-inline-block { display: inline-block  !important;}

.invisible { visibility: hidden !important;}

.mb-3 { margin-bottom: 3rem !important;}
.mb-1 { margin-bottom: 1rem !important;}
.mr-auto {margin-right: auto !important;}
.ml-auto {margin-left: auto !important;}

.opacity-100 { opacity: 100% !important;}
.opacity-80 { opacity: 80% !important;}
.opacity-60 { opacity: 60% !important;}
.opacity-40 { opacity: 40% !important;}
.opacity-20 { opacity: 20% !important;}
.opacity-0 { opacity: 0 !important;}

.p-relative { position: relative !important;}
.p-absolute { position: relative !important;}

.text-center { text-align: center !important;}
.transY-1-inverse {transform: translateY(-.6rem) !important;}

.nav-offset {
    padding-top: var(--navbar-height);
}