$color-bg-primary: #4568DC;
$color-bg-secondary: #B06AB3;
$color-primary: rgb(0, 58, 100); 
$color-primary-light: rgb(70, 93, 155);
$color-secondary: #ff000e;
$color-secondary-light: #f5898e;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-dark-1: #6d6d6d;


// GRID 
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;