/* Coolors Exported Palette - coolors.co/0b132b-004e98-44cfcb-74b3ce-246a73 */

/* HSL */
$color1: hsla(225%, 59%, 11%, 1);
$color2: hsla(209%, 100%, 30%, 1);
$color3: hsla(178%, 59%, 54%, 1);
$color4: hsla(198%, 48%, 63%, 1);
$color5: hsla(187%, 52%, 30%, 1);

/* RGB */
$p-dark-blue: rgba(11, 19, 43, 1);
$p-blue: rgba(0, 78, 152, 1);
$p-aqua: rgba(68, 207, 203, 1);
$p-sky: rgba(116, 179, 206, 1);
$p-dark-aqua: rgba(36, 106, 115, 1);

$neutral: white;
$neutral-inverse: black;

