<wkp-modal>
  <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="go-back">
      <div class="icon-group" (click)="goBack()">
          <mat-icon>close</mat-icon>
      </div>
    </div>
    <h2 class="form__heading">Signup at Wekplace</h2>
    <div class="form__controls">
      <mat-form-field appearance="outline">
        <mat-label>Enter username</mat-label>
        <input
          matInput 
          ngModel 
          #usernameInput="ngModel" 
          name="username" 
          placeholder="username" 
          type="text" 
          required
          isUniqueField
          [field]="'username'"
          >
          <mat-error *ngIf="usernameInput.hasError('required')">Field must not be empty</mat-error>
          <mat-error *ngIf="usernameInput.value && usernameInput.hasError('notUnique')">Username has already been chosen</mat-error>
        <!-- <mat-error *ngIf="!isUniqueUsername(usernameInput.value)">Username must be unique</mat-error> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter email</mat-label>
        <input 
          matInput 
          ngModel 
          #emailInput="ngModel" 
          name="email" 
          placeholder="E-mail" 
          type="email" 
          email 
          required
          >
        <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter Password</mat-label>
        <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6"
          #pwInput="ngModel">
        <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
        <mat-error *ngIf="pwInput.hasError('minlength')">Has to be at least 6 characters long</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput placeholder="Your password" ngModel name="password_" required minlength="6"
          #pwInput_="ngModel" isEqualFields [compareFieldControl]="pwInput">
        <mat-hint align="end">{{ pwInput_.value?.length }} / 6</mat-hint>
        <mat-error *ngIf="pwInput_.hasError('minlength')">Has to be at least 6 characters long</mat-error>
        <mat-error *ngIf="pwInput_.hasError('notEqual')">Passwords do not match</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select placeholder="User type" name="accountType" [(value)]="userTypeSelected" placeholder="Choose account type">
          <mat-option *ngFor="let value of userTypes" [value]="value.value">
            {{value.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid || !userTypeSelected">Submit</button>
  </form>
</wkp-modal>

<!-- <wkp-backdrop>
  <div class="signup-form">
    <form [formGroup]="signupForm" class="form" (ngSubmit)="onSubmit()">
      <div class="form__heading">
        <h2 class="heading-secondary">Sign up at Wekplace</h2>
      </div>
      <div class="form__inline-input-group">
        <div class="form__text-group">
          <input formControlName="firstName" type="text" placeholder="Firstname" id="firstName" class="form__input">
          <label for="firstName" class="form__label">First name</label>
        </div>
        <div class="form__text-group">
          <input formControlName="lastName" type="text" placeholder="Lastname" id="lastName" class="form__input">
          <label for="lastName" class="form__label">Last name</label>
        </div>
      </div>
      <div class="form__text-group">
        <input formControlName="email" type="email" placeholder="Email" id="email" class="form__input">
        <label for="email" class="form__label">Email</label>
      </div>
      <div class="form__text-group">
        <input formControlName="file" type="file" placeholder="File" class="form__input" (change)="onFileChanged($event)" accept=".png,.jpg,.jpeg" [ngClass]="{'input-progress': isUploading}">
        <img *ngIf="downloadUrl | async" [src]="downloadUrl | async" alt="">
      </div>
      <div class="form__text-group">
        <input formControlName="password" type="password" placeholder="Password" id="password" class="form__input">
        <label for="password" class="form__label">Password</label>
      </div>
      <div class="form__inline-input-group mb-3">
        <div class="form__radio-group">
          <input formControlName="userType" type="radio" class="form__radio-input" id="seeker" name="userType" value="seeker">
          <label for="seeker" class="form__radio-label">
            <span class="form__radio-button"></span>
            Job seeker
          </label>
        </div>
        <div class="form__radio-group">
          <input formControlName="userType" type="radio" class="form__radio-input" id="employer" name="userType" value="candidate">
          <label for="employer" class="form__radio-label">
            <span class="form__radio-button"></span>
            Employer
          </label>
        </div>
      </div>
      <div class="form__checkbox-group">
        <input type="checkbox" class="form__checkbox" id="terms">
        <label for="terms" class="form__checkbox-label">
          <span class="form__check-icon">
            <svg class="form__checkmark">
              <use xlink:href="../../assets/svg/sprites.svg#correct-symbol" />
            </svg>
          </span>
          I agree with the terms and conditions of Wekplace
        </label>
      </div>
      <button type="submit" class="btn btn--secondary">Submit</button>
      <p class="form__text">
        Already have a Wekplace account? Click <a href="" class="btn-inline btn-inline--secondary">here</a> to sign in.
      </p>
      <span (click)="goBack()" class="form__close">&times;</span>
    </form>
  </div>
</wkp-backdrop> -->