.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    animation: moveInBottom 1s cubic-bezier(.63,-0.23,.4,1.31) 0.75s;
    animation-delay: 0.01s;
    animation-fill-mode: backwards;

    .form__radio-button {
        transform: scale(.8);
    }

    .form__check-icon {
        transform: scale(.2);
    }
}

