@import "../../scss/abstracts/variables";
.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba($color-bg-primary, 0.9), rgba($color-bg-secondary, 0.9)), url('../../assets/img/bg.jpeg');
    background-size: cover;
    background-position: center; 
    position: relative;

    &__text {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}

nav {
    font-size: 2rem;
    text-transform: uppercase;

    .list-group {
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .nav-link {
        text-decoration: none;
        color: $color-white
    }

    .nav-item:not(:last-child) {
        margin-right: 2rem;
    }
}
