<header class="header">
  <nav class="p-relative">
    <ul class="list-group">
      <li class="nav-item d-inline-block"><a class="nav-link" [routerLink]="['login']">Login</a></li>
      <li class="nav-item d-inline-block"><a class="nav-link" [routerLink]="['signup']">Signup</a></li>
    </ul>
  </nav>
  <div class="header__text">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Wekplace</span>
      <span class="heading-primary--sub"></span>
    </h1>
    <form action="#" class="form" [formGroup]="searchForm">
      <input type="text" class="form__input u-margin-bottom-1" placeholder="Search..." formControlName="search">
      <a href="#section-tours" class="btn btn--white btn--animated u-margin-right-1">Find Job</a>
      <a href="#section-tours" class="btn btn--white btn--animated">Discover People</a>
    </form>
  </div>
  <router-outlet></router-outlet>
  
</header>